################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BullGre/BullGre.db-wal
/BullGre/BullGre.db-shm
